html,
body {
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../images/Ice skating/emma-paillex-osE_JD9CG6A-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.big-box {
    width: 80vw;
    height: 80vh;
    background-image: linear-gradient(to right, #003a55 21%, transparent 21%),
        url('../../images/Ice skating/emma-paillex-osE_JD9CG6A-unsplash.jpg');
    display: table;
    /* background-image: url('../../images/Ice skating/victor-rodvang-kIavtjR0sZY-unsplash.jpg'); */
    /* background: url('../../images/Ice skating/victor-rodvang-kIavtjR0sZY-unsplash.jpg')
            20%,
        rgb(0, 58, 85) 20%; */
    background-size: cover;
    background-repeat: no-repeat;
}

/* .big-box::after {
    content: '';
    width: 80vw;
    height: 80vh;
    background: linear-gradient(
        90deg,
        rgb(0, 58, 85) 20%,
        rgba(255, 255, 255, 0) 20%
    );
    position: absolute;
    top: -25;
    left: -25;
} */
.big-box {
    padding-left: 6em;
    padding-top: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.top {
    display: flex;
    flex-direction: row;
    grid-row: 1 / 2;
    grid-column: span 1;
}
.top p {
    width: 80%;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-end;
    padding: 15px;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.nav-ul .show {
    display: flex;
}

.hamburger {
    border: 0;
    background-color: transparent;
    color: black;
    font-size: 20px;
    display: none;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    color: black;
}

.mid {
    grid-row: 2 / 3;
    grid-column: span 1;
}
.big-h {
    color: #003a55;
    /*mix-blend-mode: difference;*/
    font-size: 3em;
}
.info {
    color: white;
    width: 30%;
    mix-blend-mode: difference;
}

span {
    color: white;
}

button.learn-more {
    width: 25%;
    height: 10%;
    border: none;
    color: #003a55;
}

.bottom {
    grid-row: 3/4;
    grid-column: span 1;
}
.socials {
    display: flex;
    flex-flow: row nowrap;
}
.icons {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}
.twit,
.fb,
.insta {
    width: 15px;
    height: 15px;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100vw;
        min-height: 100vh;
        background-image: url('../../images/Ice skating/emma-paillex-osE_JD9CG6A-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info {
        color: white;
        width: 100%;
        mix-blend-mode: difference;
    }

    button.learn-more {
        width: 100%;
        height: 50%;
        border: none;
        color: #003a55;
        margin-top: 50px;
    }

    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

@media only screen and (max-width: 380px) {
    .big-box {
        width: auto;
        height: auto;
        background-image: linear-gradient(
                to right,
                #003a55 25%,
                transparent 25%
            ),
            url(../../images/Ice skating/emma-paillex-osE_JD9CG6A-unsplash.jpg);
        display: table;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -60px;
    }

    .big-h {
        color: #003a55;
        font-size: 30px;
    }

    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
